
    <h1>
        A Web Interface for FloatingBits' Evolutionary Algorithm
    </h1>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">EA Home</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <!-- Navbar-->
{#        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>#}
{#                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">#}

{#                    <li>#}
{#                        <a class="dropdown-item" href="{{ path('evolutionary_algorithm_tournament_type_index') }}">#}
{#                            {{ 'menu.tournament_type'|trans }}#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="dropdown-item" href="{{ path('evolutionary_algorithm_tournament_configuration_index') }}">#}
{#                            {{ 'menu.tournament_configuration'|trans }}#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="dropdown-item" href="{{ path('evolutionary_algorithm_tournament_run_index') }}">#}
{#                            {{ 'menu.tournament_run'|trans }}#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}
    </nav>