
    <h1>
        A Web Interface for FloatingBits' Evolutionary Algorithm
    </h1>

<div class="navbar-collapse navbar-expand-lg ">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="btn btn-secondary" href="{{ path('evolutionary_algorithm_problem_index') }}">
                {{ 'menu.problem'|trans }}
            </a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('evolutionary_algorithm_problem_instance_index') }}">
                {{ 'menu.problem_instance'|trans }}
            </a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('evolutionary_algorithm_tournament_type_index') }}">
                 {{ 'menu.tournament_type'|trans }}
            </a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('evolutionary_algorithm_tournament_configuration_index') }}">
                {{ 'menu.tournament_configuration'|trans }}
            </a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('evolutionary_algorithm_tournament_run_index') }}">
                {{ 'menu.tournament_run'|trans }}
            </a>
        </li>
    </ul>
</div>