{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Web Interface for Floatingbits EvolutionaryAlgorithm{% endblock %}</title>

    {#
    Those two blocks defines frontend entrypoint for CSS and JavaScript assets
    See https://symfony.com/doc/current/frontend.html
    #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}" class="sb-nav-fixed">

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                {% include '_menu.html.twig' %}

            </div>
        </div>
    </header>
{% endblock %}


{% block body %}
<div id="layoutSidenav">
    {% include '_sidenav.html.twig' %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row">
                    <div class="col">
                        {% for label, messages in app.session.flashBag.all() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </div>
                </div>
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; FloatingBits 2022</div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}



</body>
</html>